*{
    padding: 0;
    box-sizing: border-box;
}

.overall1{
    background-color: red;
}

.subnav img{
    height: 40px;
    width: 50px;
}

.nav a{
    padding: 10px;
    border-bottom: 2px solid transparent;
    color: white;
    text-decoration: none;
}



i{
    font-size: 20px;
    color: white;
}

input{
    display: none;
}

label{
    position: absolute;
    right: 50px;
    display: none;
}

.nav{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    background-color: royalblue;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: space-evenly;
}

button{
    padding: 10px 15px 10px 15px;
    background-color: #1a4fa0;
    border: none;
    color: white;
    border-radius: 20px;
}

.bt{
    text-decoration: none;
}

.rollipl{
    height: 40px;
    text-align: center;
    overflow-y: hidden;
}

/* .rollipl .h1{
    animation: ipl 5s linear 0s infinite alternate;
} */

header{
    margin-top: 50px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

header img{
    width: 100%;
    height: 600px;
    
}

header img:hover{
    filter: blur(4px);
}

/* .header:hover header img{
    filter: blur(4px);
} */

header:hover .header{
    display: block;
    z-index: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header h1{
    margin: 0;
    width: 150px;
    font-size: x-large;
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    background-color: #F44336;
}

h2{
    color: white;
}

.country{
    color: transparent;
    font-size: 50px;
    background-image: linear-gradient(rgb(255, 123, 0),white,rgb(8, 91, 8));
    background-clip: text;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 293px;
    text-align: center;
    position: absolute;
    bottom: 44%;
    right: 30%;
    left: 40%;
    display: none;
}

.logo{
        height: 65px;
        width: 95px;
}

.subnav h1{
    margin: 0;
}

.subnav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a:hover{
    background-color: blueviolet;
    border-bottom: 2px solid darkorange;
}


.rollipl a:hover{
    height: 35px;
    text-decoration: none;
    background-color: royalblue;
}


/* ------------------------------------------------------scrolll barr--------------------------------------------------------------------- */
 
.shop{
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop1 p{
    margin: 0;
    margin: 10px;
}

.shop1{
    text-align: center;
}

.bt2{
    padding: 10px 15px 10px 15px;
    background-color: #e14f44 ;
    margin-top: 20px;
    border: none;
    color: white;
    border-radius: 20px;

}

/* ---------------------------------------------------------bcci copy--------------------------------------------------------------------- */

.overall1{
    height: 300px;
    width: 300px ;
    display: grid;
    grid-template-columns: auto auto auto;
    overflow: hidden;
}

.body{
    display: flex;
    align-items: center;
}

.ranking{
    display: grid;
    grid-template-columns: auto auto;
    height: 300px;
    width: 300px ;
    border-radius: 25px 0px 0px 25px;
    background-color: #1a4fa0;
}

.rank, .rank1, .rank2, .rank3{
    width: 150px;
    height: 150px;
    position: relative;
}

.rank{
   border-right:1px solid wheat;
   border-bottom: 1px solid wheat;
}
.rank1{
    border-bottom: 1px solid wheat;
}

h3{
    padding-left: 20px;
}

.odi, .test, .t20{
    position: absolute;
    bottom: 0;
    right: 5px;
}

.rank3 img{
    height: 130px;
    width: 130px;
    padding: 10px;
    opacity: 0.5;
}

.span{
    color: whitesmoke;
    font-size: 60px;
    padding-left: 10px; 
}

.para{
    width: 330px;
    padding: 20px;
}

.innerpara{
    width: 215px;
    text-align: center;
}

.para span{
    color: #1a4fa0;
}

.para p{
    opacity: 0.8;
}

.para h1,h2{
    margin: 0px;
}


.h{
    font-size: 180px;
    color: black;
    opacity: 0.5;
}



.container1{
    height: 300px;
    width: 300px;
    background-color: rgb(117, 117, 117);
    animation: slide 5s linear 1s infinite alternate;
    position: relative;
}

.container2{
    height: 300px;
    width: 300px;
    background-color: #3e4856;
    animation: slide 5s linear 1s infinite alternate;
    position: relative;
}

.container3{
    height: 300px;
    width: 300px;
    background-color: #20293a;
    animation: slide 5s linear 1s infinite alternate;
    position: relative;
}


.body img{
    height: 150px;
    width: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    10% {
        transform: translateX(0%);
    }
    20% {
        transform: translateX(-100%);
    }
    30% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(-200%);
    }
    50% {
        transform: translateX(-200%);
    }


}

/* ---------------------------------------------------honours-------------------------------------------- */

.honours{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background-image: url(./honorsbg.png);
    background-size:100% 300px ;
    background-repeat: no-repeat;
    position: relative;
    align-items: center;
    justify-content: center;
}

.hon{
    padding-left: 20px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.honours1 {
    width: 80%;
    height: 350px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    gap: 20px;
    overflow-x: scroll;
}

.honours1::-webkit-scrollbar {
    width: 0px;
  }

.honours1 div{
    display: flex;
    position: relative;
    background-color: #293b6a;
    border: 1px solid #728ed9;
    border-radius: 8px;
    height: 300px;
    width: 300px;
    flex-direction: column;
    align-items: center;
    
}
.honimg{
    position: absolute;
    height: 150px;
    width: 110px;
    top: 90px;  
}

.t2{
    position: absolute;
    height: 164px;
    width: 65px;
    top: 90px;
}

.worldcup{
    position: absolute;
    height: 150px;
    width: 75px; 
    top: 90px;
}

.champ{
    position: absolute;
    height: 150px;
    width: 65px; 
    top: 90px;
}

.sample{
    height: 100px;
    width: 100%;
}

.honours1 div span {
    position: absolute;
    top: -25px;
    color: #728ed9;
    font-size: 130px;
    opacity: 0.5;
}

 .honours1 p{
    position: absolute;
    bottom: 0;
    color: white;
}

.honours img:hover{

            transform: scale(0.8, 0.8);
        

}



/* =========================================================sponser===================================== */


.sponser{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    background-color: #011846;
    border-radius: 20px;
    margin-top: 20px;
}

.oversponser{
display: flex;
justify-content: center;
}

.sponser h3{
    color: aqua;
}

.sponser img{
    height: 150px;
    width: 150px;
}

.sponser1 {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li{
    color: white;
    padding-left: 22px;
}

.sponser2 li{
    color: white;
    padding-left: 20px;
}

.sponser3, .sponser4, .sponser5{
    display: flex;
    height: 150px;
    width: 250px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;

}





/* --------------------------------------------------------------------------footer-------------------------------- */

.fa-bars{
    display: none;
}

footer{
    padding: 20px;
    background-color: #0d0d34;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.footer1{
    width: 89%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.footer1 img{
    height: 60px;
    width: 60px;
}

.footer1 i{
    padding: 10px 0px 0px 10px;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.footer h4{
    color:white;
    margin-top: 5px;
}

.footer p{
    color: oldlace;
    opacity: 0.7;
    font-size: small;
    margin: 5px;
}

input:checked~.subnav{
    left: 0;
    transition: all 2s;
}



/* ===========================responsive========================================= */

@media only screen and (min-width:771px) and (max-width: 1024px){
    .para {
        display: none;
        width: 330px;
        padding: 20px;
    }

    header {
        margin-top: 50px;
        width: 115%;
        position: relative;
        overflow: hidden;
    }

    .shop {
        width: 115%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .shop1 {
        text-align: center;
        width: 50%;
    }

    .shop img:nth-child(1){
        width: 50%;
    }

    .shop1 img:nth-child(1) {
        width: 100%;
    }

    .body {
        width: 115%;
        display: flex;
        align-items: center;
    }

    .honours {
        display: flex;
        flex-direction: column;
        width: 115%;
        height: 500px;
        background-image: url(./honorsbg.png);
        background-size: 100% 300px;
        background-repeat: no-repeat;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    .oversponser {
        width: 115%;
        display: flex;
        justify-content: center;
    }

    footer {
        width: 115%;
        padding: 20px;
        background-color: #0d0d34;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
}





@media only screen and (min-width:500px) and (max-width: 770px){

    header{
        margin-top: 50px;
        width: 134%;
        position: relative;
        overflow: hidden;
    }

    .body{
        display: none;
        align-items: center;
    }

    .shop{
        width: 134%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .honours{
        display: flex;
        flex-direction: column;
        width: 134%;
        height: 500px;
        background-image: url(./honorsbg.png);
        background-size:100% 300px ;
        background-repeat: no-repeat;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    .oversponser{
        display: flex;
        width: 134%;
        justify-content: center;
        }

        footer{
            width: 134%;
            padding: 20px;
            background-color: #0d0d34;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }

        .shop img{
            width: 50%;
        }

}





@media only screen and (min-width:300px) and (max-width: 500px){


    header{
        margin-top: 50px;
        width: 259%;
        position: relative;
        overflow: hidden;
    }

    .fa-bars{
        display: block;
        font-size: 50px;
    }

    label{
        position: absolute;
        right: 50px;
        display: block;
    }

    .subnav{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 106px;
        left: 100%;
        height: 93vh;
        width: 100%;
        align-items: center;
        padding: 10px;
        gap:20px;
        background-color: #0D47A1;
        justify-content: space-evenly;
    }

    .subnav {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 106px;
        left: 100%;
        height: 93vh;
        width: 100%;
        align-items: center;
        padding: 10px;
        gap: 20px;
        background-color: #0D47A1;
        justify-content: space-evenly;
    }

    .nav{
        width: 100%;
        height: 106px;
        position: fixed;
        top: 0;
        background-color: royalblue;
        display: flex;
        z-index: 1;
        align-items: center;
        justify-content: space-evenly;
    }


    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 293px;
        text-align: center;
        position: absolute;
        bottom: 44%;
        right: 16%;
        left: 31%;
        display: none;
        margin-top: 219px;
    }

    header img {
        margin-top: 50px;
        width: 100%;
        height: 600px;
    }

    .rollipl{
        height: 103px;
        text-align: center;
        overflow-y: hidden;
    }

    .sn2{
        display: none;
    }

    .shop1 p {
        margin: 0;
        margin: 10px;
        font-size: 41px;
    }

    .bt2 {
        font-size: 44px;
        padding: 20px 20px 20px 20px;
        background-color: #e14f44;
        margin-top: 20px;
        border: none;
        color: white;
        border-radius: 20px;
    }

    .rollipl img{
        height: 103px;
        width: 160px;
    }

    .logo {
        height: 80px;
        width: 184px;
        position: absolute;
        left: 0;
    }

    .sn1{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 373px;
        justify-content: space-around;
    }

    .sn1 a{
        font-size: 50px;
    }

    .body{
        display: none;
        align-items: center;
    }

    .shop{
        width: 259%;
        height: 200vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .honours{
        display: flex;
        flex-direction: column;
        width: 259%;
        height: 730px;
        background-image: url(./honorsbg.png);
        background-size:100% 300px ;
        background-repeat: no-repeat;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    .honours1 {
        width: 80%;
        height: 485px;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto;
        gap: 20px;
        overflow-x: scroll;
    }

    .honimg {
        position: absolute;
        height: 280px;
        width: 250px;
        top: 90px;
    }

    .champ {
        position: absolute;
        height: 300px;
        width: 142px;
        top: 90px;
    }

    .worldcup {
        position: absolute;
        height: 260px;
        width: 150px;
        top: 90px;
    }

    .honours1 div {
        display: flex;
        position: relative;
        background-color: #293b6a;
        border: 1px solid #728ed9;
        border-radius: 8px;
        height: 460px;
        width: 450px;
        flex-direction: column;
        align-items: center;
    }

    .t2 {
        position: absolute;
        height: 257px;
        width: 113px;
        top: 120px;
    }

    .honours1 p {
        font-size: xx-large;
        position: absolute;
        bottom: 0;
        color: white;
    }

    

    .oversponser{
        display: flex;
        width: 259%;
        justify-content: center;
        }

        footer{
            width: 259%;
            padding: 20px;
            background-color: #0d0d34;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }

        .shop1 img{
            width: 100%;
        }

        .shop img:nth-child(1){
            width: 100%;
        }


        .footer{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
        }

        .footer h4 {
            font-size: xxx-large;
            color: white;
            margin-bottom: 5px;
        }

        .footer p {
            color: oldlace;
            opacity: 0.7;
            font-size: xx-large;
            margin: 5px;
        }

}